<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>分类</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>推荐</string>
		<key>type</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>全部</string>
		<key>type</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>刺激战场</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>绝地求生</string>
		<key>type</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>王者荣耀</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>LOL</string>
		<key>type</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>主机游戏</string>
		<key>type</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>QQ飞车</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>全军出击</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>DOTA2</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>炉石传说</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>DNF</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>CF手游</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>网游竞技</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>单机热游</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>手游休闲</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐天地</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>颜值</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>科技教育</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>正能量</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>语音直播</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>体育频道</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
