<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>全部</string>
		<key>kingID</key>
		<string>2_181</string>
	</dict>
	<dict>
		<key>title</key>
		<string>司马懿</string>
		<key>kingID</key>
		<string>3_489</string>
	</dict>
	<dict>
		<key>title</key>
		<string>巅峰赛</string>
		<key>kingID</key>
		<string>3_742</string>
	</dict>
	<dict>
		<key>title</key>
		<string>上分陪玩</string>
		<key>kingID</key>
		<string>3_876</string>
	</dict>
	<dict>
		<key>title</key>
		<string>国服</string>
		<key>kingID</key>
		<string>3_224</string>
	</dict>
	<dict>
		<key>title</key>
		<string>美女</string>
		<key>kingID</key>
		<string>3_469</string>
	</dict>
	<dict>
		<key>title</key>
		<string>带粉狂魔</string>
		<key>kingID</key>
		<string>3_454</string>
	</dict>
	<dict>
		<key>title</key>
		<string>最强刺客</string>
		<key>kingID</key>
		<string>3_458</string>
	</dict>
	<dict>
		<key>title</key>
		<string>无情射手</string>
		<key>kingID</key>
		<string>3_471</string>
	</dict>
	<dict>
		<key>title</key>
		<string>风骚法师</string>
		<key>kingID</key>
		<string>3_470</string>
	</dict>
	<dict>
		<key>title</key>
		<string>凶悍坦克</string>
		<key>kingID</key>
		<string>3_468</string>
	</dict>
	<dict>
		<key>title</key>
		<string>视频节目</string>
		<key>kingID</key>
		<string>3_543</string>
	</dict>
</array>
</plist>
