<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>avatar</key>
			<string>icon_my_level</string>
			<key>title</key>
			<string>我的等级</string>
			<key>rightTitle</key>
			<string>Lv1</string>
			<key>isHiddenRightTitle</key>
			<false/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_myzone</string>
			<key>title</key>
			<string>我的空间</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_fans_badge</string>
			<key>title</key>
			<string>我的粉丝徽章</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_little_sister</string>
			<key>title</key>
			<string>小姐姐特权</string>
			<key>rightTitle</key>
			<string>斗鱼小姐姐的专属特权</string>
			<key>isHiddenRightTitle</key>
			<false/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_point</string>
			<key>title</key>
			<string>我的积分</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>avatar</key>
			<string>image_connect_microphone</string>
			<key>title</key>
			<string>主播相关</string>
			<key>rightTitle</key>
			<string>诚邀你加入手游推广计划</string>
			<key>isHiddenRightTitle</key>
			<false/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>image_my_room_icon</string>
			<key>title</key>
			<string>我的直播间</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>image_my_yuyin</string>
			<key>title</key>
			<string>语音开黑</string>
			<key>rightTitle</key>
			<string>五人语音开黑房间</string>
			<key>isHiddenRightTitle</key>
			<false/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_accompany</string>
			<key>title</key>
			<string>金牌玩家</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_gamecenter</string>
			<key>title</key>
			<string>游戏中心</string>
			<key>rightTitle</key>
			<string>玩游戏领鱼丸</string>
			<key>isHiddenRightTitle</key>
			<false/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_anchor_recruit</string>
			<key>title</key>
			<string>主播招募</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_rank_morefrag</string>
			<key>title</key>
			<string>排行榜</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>avatar</key>
			<string>icon_my_video</string>
			<key>title</key>
			<string>我的视频</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_video_income</string>
			<key>title</key>
			<string>视频收益</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_collection</string>
			<key>title</key>
			<string>视频收藏</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>avatar</key>
			<string>icon_account</string>
			<key>title</key>
			<string>我的账户</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_free</string>
			<key>title</key>
			<string>免流量特权</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>avatar</key>
			<string>icon_focus</string>
			<key>title</key>
			<string>关注管理</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
		<dict>
			<key>avatar</key>
			<string>icon_remind</string>
			<key>title</key>
			<string>开播提醒</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
