<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>avatar</key>
			<string>Image_setting_List</string>
			<key>title</key>
			<string>系统设置</string>
		</dict>
		<dict>
			<key>title</key>
			<string>列表自动加载</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>3G/4G自动播放视频</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>允许3G/4G上传视频</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>avatar</key>
			<string>Image_setting_message</string>
			<key>title</key>
			<string>消息设置</string>
		</dict>
		<dict>
			<key>title</key>
			<string>新消息设置</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>隐私</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>avatar</key>
			<string>Image_setting_player</string>
			<key>title</key>
			<string>播放器设置</string>
		</dict>
		<dict>
			<key>title</key>
			<string>后台播放</string>
			<key>subtitle</key>
			<string>应用退至后台，可继续播放</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<false/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>悬浮播放</string>
			<key>subtitle</key>
			<string>退出直播后，切换到小窗播放</string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<false/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>播放器手势</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<false/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>avatar</key>
			<string>Image_setting_danmu</string>
			<key>title</key>
			<string>弹幕设置</string>
		</dict>
		<dict>
			<key>title</key>
			<string>弹幕透明度</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>弹幕字号</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>弹幕位置</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<false/>
		</dict>
		<dict>
			<key>title</key>
			<string>定时关闭</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>不开启</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>avatar</key>
			<string>Image_setting_others</string>
			<key>title</key>
			<string>其他设置</string>
		</dict>
		<dict>
			<key>title</key>
			<string>清理缓存</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string>0.00M</string>
			<key>isHiddenRightTitle</key>
			<false/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<true/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>账号绑定设置</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>关于我们</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>意见反馈</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>联系客服</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>网络诊断</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>给我们评分</string>
			<key>subtitle</key>
			<string></string>
			<key>rightTitle</key>
			<string></string>
			<key>isHiddenRightTitle</key>
			<true/>
			<key>isHiddenSubtitle</key>
			<true/>
			<key>isHiddenRightArraw</key>
			<false/>
			<key>isHiddenSwitch</key>
			<true/>
			<key>isHiddenMiddleView</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
