<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>全部</string>
		<key>stimulateID</key>
		<string>2_350</string>
	</dict>
	<dict>
		<key>title</key>
		<string>枪王</string>
		<key>stimulateID</key>
		<string>3_847</string>
	</dict>
	<dict>
		<key>title</key>
		<string>陪玩</string>
		<key>stimulateID</key>
		<string>3_937</string>
	</dict>
	<dict>
		<key>title</key>
		<string>讲师</string>
		<key>stimulateID</key>
		<string>3_825</string>
	</dict>
	<dict>
		<key>title</key>
		<string>萌妹</string>
		<key>stimulateID</key>
		<string>3_826</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐</string>
		<key>stimulateID</key>
		<string>3_827</string>
	</dict>
	<dict>
		<key>title</key>
		<string>模拟器</string>
		<key>stimulateID</key>
		<string>3_1017</string>
	</dict>
	<dict>
		<key>title</key>
		<string>冲分</string>
		<key>stimulateID</key>
		<string>3_829</string>
	</dict>
	<dict>
		<key>title</key>
		<string>海岛</string>
		<key>stimulateID</key>
		<string>3_1106</string>
	</dict>
	<dict>
		<key>title</key>
		<string>沙漠</string>
		<key>stimulateID</key>
		<string>3_1107</string>
	</dict>
	<dict>
		<key>title</key>
		<string>雨林</string>
		<key>stimulateID</key>
		<string>3_1108</string>
	</dict>
</array>
</plist>
