<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>分类</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>推荐</string>
		<key>type</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>英雄联盟</string>
		<key>type</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>王者荣耀</string>
		<key>type</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>二次元</string>
		<key>type</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>户外趣玩</string>
		<key>type</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>主机游戏</string>
		<key>type</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>刺激战场</string>
		<key>type</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>堡垒之夜</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>QQ飞车</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>影视</string>
		<key>type</key>
		<integer>3</integer>
	</dict>
</array>
</plist>
